body{
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: rgb(157, 0, 255);
}
#box3{
    background-color: rgb(11, 23, 23);
}
#box4{
    background-color: rgb(114, 30, 49);
}
#box5{
    background-color: rgb(17, 70, 185);
}
