div {
    height:100px;
    width: 100px;
    background-color: rgb(30, 128, 214);
    border: 2px solid black;
    display: inline-block;

}
#box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;   
}
#box3{
    position: sticky;
    left: 500px;
}
#box4{
    position: fixed;
    top: 0px;
}